.picture{
    border: 5px solid black;
    width:186px;
    height:186px;
    display:inline-block;
	position:relative;
	margin-right:-4px;
}
img {
    width:186px;
    height:186px;
}
.textforpicture{
position:absolute;
background-color:#fff;
top:-16px;
opacity:0.3;
}